<div class="service-home">
  <div class="img-services-home">
    <img src="assets/img/Asset%209-03.png">
  </div>
  <div class="reseau-cycle">
    <shared-card-text title="Le réseau Cycle"
                      subtitle="La carte de nos services."
                      textButton="Découvrir">
    </shared-card-text>
  </div>
  <div class="list-partner">
    <shared-card-text title="Liste des partenaires."
                      subtitle="Les acteurs de demain."
                      textButton="Découvrir">
    </shared-card-text>
  </div>
  <div class="application">
    <shared-card-image title="Application."
                       subtitle="Partout avec vous."
                       nameImage="phone.png"
                       textButton="Découvrir">
    </shared-card-image>
  </div>
</div>
