.container {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "card-1 image"
    "card-2 image";


}

.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.image {
  grid-area: image;
}
