<div class="login-page">
  <div class="forms flex justify-center items-center">
    <div class="testBg max-h-fit shadow w-6/12 flex flex-col justify-center items-center p-5 ">
      <h1 class="text-2xl font-semibold mb-5 ">Se connecter {{type}}</h1>
      <form action="/action_page.php" class=" flex items-center flex-col">
        <input class="border-[1px] border-gray-300 p-2 pl-3 mt-2 -mb-3 w-full rounded" id="form_name" name="form_name"
               placeholder="Adresse mail"
               type="text"><br>
        <input class="border-[1px] border-gray-300 p-2 pl-3  w-full rounded" id="label_name" name="label_name"
               placeholder="Mot de passe"
               type="text"><br><br>

        <shared-button (click)="router.navigateByUrl(url)" class="-mt-8"
                       color="var(--cycle-green)" fontSize="20" text="Connexion">
          <input type="submit" value="Submit">
        </shared-button>


        <div class="text-center text-xl mt-2">OR</div>
        <img alt="" class="max-h-[10%] max-w-[50%] mx-auto mb-5" src="assets/img/sign-in-google.png">
        <hr>
        <div class="text-gray-500 text-sm text-center mt-7">Pas enregistré ? <span
          class="cursor-pointer text-blue-600 underline hover:no-underline ">S'enregistrer</span></div>

      </form>
    </div>
  </div>
  <div class="image place-self-center	">
    <img alt="" src="assets/img/{{img}}">
  </div>
</div>






