
<div class="h-[10vh] flex justify-between items-center px-8 py-5">
    <div>
        <img alt="Logo" class="w-[202px] h-[44px] object-cover" src="./assets/img/LOGOTYPE-VERT.png">
    </div>
    <div>
        <ul class="flex flex-row align-baseline	">
          
            <shared-button variant="text" color="var(--cycle-black)" (click)="router.navigateByUrl('/templates/home');" text="Accueil">

            </shared-button>
            <shared-button variant="text" color="var(--cycle-black)" (click)="router.navigateByUrl('/templates/about');" text="À propos">

            </shared-button>
            <shared-button variant="text" color="var(--cycle-black)" (click)="router.navigateByUrl('/services');" text="Services">

            </shared-button>
            <shared-button color="var(--cycle-green)" (click)="router.navigateByUrl('/profile');" text="Mon profil">

            </shared-button>
        </ul>
    </div>
</div>