<div class="">
    <div style="height:7.5vh" class=" flex justify-between px-8 pt-5">
        <div>
            <img alt="Logo" class="w-[202px] h-[44px] object-cover" src="./assets/img/LOGOTYPE-VERT.png">
        </div>
        <div>
            <ul class="flex flex-row  space-x-16 align-baseline	">
                <li class="font-semibold py-2 text-cycle-sm" routerLink="" routerLinkActive="text-cycleGreen">Accueil</li>
                <li class="font-semibold py-2 text-cycle-sm" routerLink="/about" routerLinkActive="text-cycleGreen">À propos
                </li>
                <li class="font-semibold py-2 text-cycle-sm" routerLink="/services" routerLinkActive="text-cycleGreen">
                    Services
                </li>
                <li class="text-white text-cycle-sm">
                    <a class=" block py-2 px-4 bg-cycleGreen rounded-full 	" routerLink="/profile" routerLinkActive="text-cycleGreen"> Mon profil</a></li>
            </ul>
        </div>
    </div>
</div>
