<div style="height:15vh;">
    <div class=" flex justify-between align-center px-8 pt-5">
        <div>
            <img alt="Logo" class="mt-4 w-[202px] h-[44px] object-cover" src="./assets/img/LOGOTYPE-VERT.png">
        </div>
        <div>
            <ul class="flex flex-row align-baseline	">

                <shared-button variant="text" color="var(--cycle-black)" (click)="router.navigateByUrl('/');" text="Accueil">

                </shared-button>
                <shared-button variant="text" color="var(--cycle-black)" (click)="router.navigateByUrl('/about');" text="À propos">

                </shared-button>
                <shared-button variant="text" color="var(--cycle-black)" (click)="router.navigateByUrl('/services');" text="Services">

                </shared-button>
                <shared-button color="var(--cycle-green)" (click)="router.navigateByUrl('/profile');" text="Mon profil">

                </shared-button>
            </ul>
        </div>
    </div>
</div>