<shared-navbar></shared-navbar>

<app-card-double-col title="Application."
                     subtitle="Partout avec vous."
                     paragraphLeft="Bientôt Cycle vous accompagnera dans tous vos déplacements grâce à son application pratique et multifonctions ! Besoin de vous déplacer ? Localisez le Cycle Bike le plus proche afin de vous déplacer rapidement et durablement."
                     paragraphRight="Besoin d’un restaurant proche de vous pour votre pause déjeuné ? Trouvez nos partenaires en quelques clics et profitas des avantages du réseau Cycle gagné suite à vos performances."
                     textButton="Bientôt disponible !">
</app-card-double-col>

<router-outlet></router-outlet>


<shared-footer></shared-footer>

