<shared-card-text title="Se déplacer, mieux." subtitle="Les petits gestes qui changent tout."
               paragraph="Déplacez vous dès au aujourd’hui tout en participant a un cycle durable. Comment ? Découvrez un réseau de vélos performants dans votre ville et un système de cash-back amusant. Le tout en prenant soin de notre planète !"
               textButton="Qui sommes nous ?">
</shared-card-text>
<shared-card-text title="Se déplacer, mieux." subtitle="Les petits gestes qui changent tout."
               textButton="En savoir plus"></shared-card-text>
<shared-card-image title="Application." subtitle="Partout avec vous."
                nameImage="phone.png"
                textButton="Découvrir">

</shared-card-image>
<router-outlet></router-outlet>
