<div class="bottom-0 absolute w-full">
  <div class=" flex justify-between px-8 pt-5">
    <div class="space-x-10">
      <fa-icon [icon]="faFacebookSquare" class="text-cycleGreen" size="2x"></fa-icon>
      <fa-icon [icon]="faTwitterSquare" class="text-cycleGreen" size="2x"></fa-icon>
    </div>
    <div>
      <ul class="flex flex-row  divide-x divide-black">
        <li class="px-10 py-2 text-cycle-xs">Accessibilité conforme</li>
        <li class="px-10 py-2 text-cycle-xs">Politique de confidentialité</li>
        <li class="px-10 py-2 text-cycle-xs">Mentions légales</li>
      </ul>
    </div>
  </div>
</div>
